<div class="signin-container">
  <div class="signin-header">
    <div>
      <h2 class="title">Sign In</h2>
      <p class="subtitle">Sign in to your account to continue shopping</p>
    </div>
    <button tabindex="-1" matIconButton class="close-button" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form class="signin-form" [formGroup]="signInForm" (ngSubmit)="signIn()">

    <mat-form-field class="form-field email-field">
      <input type="email" matInput formControlName="email" placeholder="Enter your email" />
      <mat-icon matPrefix>email</mat-icon>
    </mat-form-field>

    <mat-form-field class="form-field password-field">
      <input
        type="password"
        matInput
        formControlName="password"
        [type]="passwordVisible() ? 'text': 'password'"
        placeholder="Enter your password"
      />
      <mat-icon matPrefix>lock</mat-icon>

       <button
        matSuffix
        matIconButton
        type="button"
        class="visibility-toggle"
        (click)="passwordVisible.set(!passwordVisible())"
       >
        <mat-icon [fontIcon]="passwordVisible() ? 'visibility_off' : 'visibility'"></mat-icon>
       </button>
    </mat-form-field>

    <button type="submit" matButton="filled" class="submit-button" [disabled]="store.loading()">
      {{ store.loading() ? 'Signing In...' : 'Sign In' }}
    </button>

  </form>

  <p class="signup-prompt">
    Don't have an account ?
    <a class="signup-link" (click)="openSignUpDialog()">SignUp</a>
  </p>
</div>
