<div class="product-card">
  <img [src]="product().image_url" alt="product image" class="product-image"
    [routerLink]="['/product', product().id]"
    [style.view-transition-name]="'product-image-' + product().id"
  />

  <ng-content></ng-content>

  <div class="product-content">
    <h3 class="product-title">
      {{ product().name }}
    </h3>

    <p class="product-description">
      {{ product().description }}
    </p>

  <app-star-rating class="product-rating" [rating]="store.averageRating()">
    {{ store.averageRating() }} ({{ store.productReviews().length }} reviews)
  </app-star-rating>

    <div class="product-stock-status">
      {{ product().inStock ? 'In Stock' : 'Out of Stock' }}
    </div>

    <div class="product-footer">
      <span class="product-price">
        ${{ product().price }}
      </span>

      <button matButton="filled"
        class="add-to-cart-btn"
        (click)="store.addToCart(product())"
      >
        <mat-icon>shopping_cart</mat-icon>
        Add to Cart
      </button>
    </div>
  </div>
</div>
