.payment-options-container {
  .payment-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .payment-logo {
    height: 1.5rem;
  }
}
