<div class="signup-container">
  <div class="signup-header">
    <div>
      <h2 class="title">Sign Up</h2>
      <p class="subtitle">Join us and start shopping today</p>
    </div>
    <button tabindex="-1" matIconButton class="close-button" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form [formGroup]="signUpForm" class="signup-form" (ngSubmit)="signUp()">
      <mat-form-field class="form-field">
        <input formControlName="name" matInput type="text" placeholder="Enter your username" />
        <mat-icon matPrefix>person</mat-icon>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input formControlName="email" matInput type="email" placeholder="Enter your email" />
        <mat-icon matPrefix>email</mat-icon>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input formControlName="password" matInput type="password" placeholder="Enter your password" />
        <mat-icon matPrefix>lock</mat-icon>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input formControlName="confirmPassword" matInput type="password" placeholder="Confirm your password" />
        <mat-icon matPrefix>person</mat-icon>
      </mat-form-field>

      <button type="submit" matButton="filled" class="submit-button" [disabled]="store.loading()">
        <!-- {{ store.loading() ? 'Creating Account...' : 'Create Account' }} -->
        {{ store.loading() ? 'Creating Account...' : 'Create Account' }}
      </button>
  </form>

  <p class="signin-prompt">
    Already have an account?
    <a class="signin-link" (click)="openSignInDialog()">Sign In</a>
  </p>
</div>
