<div appViewPanel class="reviews-panel-container">
  <div class="reviews-header">
    <h2 class="reviews-title">Customer Reviews</h2>
    @if (store.user()) {
      <button matButton="filled" (click)="store.showWriteReview()">Write a Review</button>
    }
  </div>

  @if (store.writeReview()) {
    <div class="write-review-wrapper">
      <app-write-review></app-write-review>
    </div>
  }

  <app-rating-summary></app-rating-summary>

  <div class="reviews-list">
    @for (review of store.productReviews(); track review.id){
      <app-view-review-item [review]="review"></app-view-review-item>
    }
  </div>
</div>
