<div class="wishlist-container">

  <app-back-button class="back-navigation" navigateTo="/products/all">
    Continue Shopping
  </app-back-button>

  @if (store.wishlistCount() > 0) {

    <div class="wishlist-header">
      <h1 class="title">My Wishlist</h1>
      <span class="count">
        {{ store.wishlistCount() }} items
      </span>
    </div>

    <div class="responsive-grid">
      @for (product of store.wishlistItems(); track product.id){
        <app-product-card [product]="product">

          <button class="remove-btn"
            matIconButton
            (click)="store.removeFromWishlist(product)"
          >
          <mat-icon>delete</mat-icon>
          </button>

        </app-product-card>
      }

    </div>

    <div class="clear-actions">
      <button matButton="outlined" class="danger" (click)="store.clearWishlist()">
        Clear Wishlist
      </button>
    </div>

  } @else {

    <app-empty-wishlist></app-empty-wishlist>

  }
</div>

<router-outlet></router-outlet>
