<mat-sidenav-container class="products-layout-container">
  <mat-sidenav mode="side" opened="true">
    <div class="sidebar-content">
      <h2 class="sidebar-title">Categories</h2>

      <mat-nav-list class="category-list">
        @for (cat of categories(); track cat) {
          <mat-list-item
            class="category-item"
            [activated]="cat === category()"
            [routerLink]="['/products', cat]"
          >
            <span
              matListItemTitle
              class="category-name"
              [class.active-text]="cat === category()"
            >
              {{ cat | titlecase }}
            </span>
          </mat-list-item>
        }
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <h1 class="category-header">{{ category() | titlecase }}</h1>
    <p class="product-count">{{ store.filteredProducts().length }} products found</p>

    <div class="responsive-grid">
      @for (product of store.filteredProducts(); track product.id) {
        <app-product-card [product]="product">
          <app-toggle-wishlist-button
            class="wishlist-overlay-btn"
            [product]="product"
            [style.view-transition-name]="'wishlist-button-' + product.id"
          >
          </app-toggle-wishlist-button>
        </app-product-card>
      }
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>
