<div class="header-actions-container">
  <button matIconButton routerLink="/wishlists" [matBadge]="store.wishlistCount()" [matBadgeHidden]="store.wishlistCount() === 0">
    <mat-icon>favorite</mat-icon>
  </button>

  <button matIconButton
    [matBadge]="store.cartCount()"
    [matBadgeHidden]="store.cartCount() === 0"
    routerLink="/cart"
  >
    <mat-icon>shopping_cart</mat-icon>
  </button>

  @if (store.user(); as user) {
    <button matIconButton [matMenuTriggerFor]="userMenu">
      <img [src]="user.imageUrl" [alt]="user.name" class="user-avatar" />
    </button>

    <mat-menu #userMenu="matMenu" xPosition="before">
      <div class="user-info-header">
        <span class="user-name">{{ user.name }}</span>
        <span class="user-email">{{ user.email }}</span>
      </div>
      <mat-divider></mat-divider>
      <button class="logout-button" mat-menu-item (click)="store.signOut()">
        <mat-icon>logout</mat-icon>
        Sign Out
      </button>
    </mat-menu>

  } @else {
      <button matButton (click)="openSignInDialog()">
        Sign In
      </button>

      <button matButton="filled" (click)="openSignUpDialog()">
        Sign Up
      </button>
  }
</div>
